<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">
    <div>🐾 Pet Website</div>
    <div>
        <a href="/">Home</a>
        <a href="/dog.html">Dog</a>
    </div>
</div>

<h1>Mèo 🐱</h1>

<p>Những chú mèo đáng yêu, dễ thương và rất được yêu thích.</p>

<div class="image-box">
    <img src="/image/meo.webp">
</div>

<br>

<a href="/" class="btn">⬅ Quay về trang chủ</a>

</body>
</html>