<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">
    <div>🐾 Pet Website</div>
    <div>
        <a href="/">Home</a>
        <a href="/cat.html">Cat</a>
    </div>
</div>

<h1>Chó 🐶</h1>

<p>Chó là người bạn trung thành và thân thiện với con người.</p>

<div class="image-box">
    <img src="/image/cho.jpg">
</div>

<br>

<a href="/" class="btn">⬅ Quay về trang chủ</a>

</body>
</html>