<!DOCTYPE html>
<html>
<head>
    <title>Request Info</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">
    <div>📡 Request Info</div>
    <div>
        <a href="/">Home</a>
        <a href="/events">Events</a>
    </div>
</div>

<div class="container">
    <h2>Thông tin Request</h2>

    <p>Mở URL với query để test:</p>

    <ul>
        <li><a href="/request?name=anh&id=1">/request?name=anh&id=1</a></li>
    </ul>

    <p>Server sẽ hiển thị:</p>
    <ul>
        <li>URL</li>
        <li>Method</li>
        <li>Headers</li>
    </ul>

    <p><b>Xem trực tiếp ở trang này khi reload URL</b></p>
</div>

</body>
</html>